<!-- <div class="container">


    <form action="">

        <div class="card">

            <div class="title">Edit user</div> <br>

            
          
            <div class="labelInput">


                <div class="inputName">
                    <label for="userName" class="labelUser">User name</label><br>
                    <input type="text" value="USER EJEMPLO">
                </div>
                <div>
                    <label for="firstName" class="labelPass">First name</label><br>
                    <input type="text" value="{{labels.first_name}}">
                </div>
                <div>
                    <label for="lastName" class="labelPass">Last name</label><br>
                    <input type="text" value="{{labels.last_name}}">
                </div>
                <div>
                    <label for="phoneNumer" class="labelPass">Phone number</label><br>
                    <input type="text"  value="3015684456">
                </div>

                <div>
                    <label for="id" class="labelPass">ID</label><br>
                    <input type="text" value="1143574896" disabled>
                </div>
                <div>
                    <label for="emailAddress" class="labelPass">Email</label><br>
                    <input type="text" value="{{labels.email}}">
                </div>


                <button class="btn-cancel" type="text" value="cancel" routerLink="/cardList">Cancel</button>
                <button class="btn-accept" type="submit" value="accept " routerLink="/cardList">Accept</button>

            </div>

        </div>


    </form>


</div> -->
